<!-- onlinecourse/templates/onlinecourse/course_list.html -->

<!-- NASLEĐIVANJE: Koristi kostur iz base.html -->
{% extends "onlinecourse/base.html" %}

<!-- Definicija naslova stranice (koji menja block title u base.html) -->
{% block title %}Courses{% endblock %}

<!-- Definicija glavnog sadržaja stranice -->
{% block content %}

    <!-- OVO JE NOVI GRID CONTAINER -->
    <ul class="course-grid-container">
        {% for course in course_list %}
            <li class="course-card">
                <!-- Slika je sada 100x100px u CSS-u -->
                <img src="{{ course.image.url }}" alt="{{ course.name }} Logo">
                <h2>{{ course.name }}</h2>
                <p class="course-paragraph">
                    {{ course.description }}
                </p>
                <p style="font-weight: bold; color:  #A31F34;">Total Enrolled: {{ course.total_enrollment }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}